/* This is our stylesheet */

/* The first thing to do in the stylesheet is to reset all spacing */
*{
    margin: 0px;
    padding: 0px;
}
/* setting up the Font */
@font-face {
    font-family: Deafult;
    src: url(MADEINFINITY\ PERSONALUSE-Light.otf);
}
@font-face {
    font-family: Links;
    src: url(MADEINFINITY\ PERSONALUSE-Regular.otf);
}
@font-face {
    font-family: Titles;
    src: url(MADEINFINITY\ PERSONALUSE-Medium.otf);
}
/* We can redefine HTML tags */
.container {
    display: grid;
    grid-template-columns: 33% 65%;
    grid-gap: 30px
}
.countrycontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    margin-top: 20px;
}
.card {
    background-color: rgb(213, 137, 111);   
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
}
.maincontent {
    background-color: rgb(213, 137, 111);
    overflow: hidden;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}
.sidebar {
    margin-top: 10px;
    border:1px rgb(238, 235, 211) solid;
    border-radius: 10px;
    padding: 15px;
    
}
.sidebar p {
    text-align: left;
    margin-left: 10px;
    padding: 10px;
}
.maincontent p {
    text-align: left;
    margin-left: 10px;
}
.sidebar a {
    margin-top: 10px;
    margin-bottom: 10px;
}
.maincontent a {
    margin-top: 10px;
    margin-bottom: 10px;
}
.card a {
    margin-top: 10px;
    margin-bottom: 10px;
}
.card h2 {
    color: rgb(51, 65, 57);
}
.card h1 {
    color: rgb(51, 65, 57)
}
.maincontent h2 {
    color: rgb(51, 65, 57);
}
.maincontent h1 {
    color: rgb(51, 65, 57)
}
.card img {
    max-width: 100%;
    height: auto;
}
.card p {
    text-align: left;
    margin-left: 10px;
}
body {
    background-color: rgb(37, 89, 87);
    padding: 15px;
}
h1{
    color: rgb(122, 130, 171);
    margin-bottom: 20px;
    font-family: Titles;
    text-align: center;
    font-size: 60px;

}
h2{
    color: rgb(122, 130, 171);
    margin-bottom: 10px;
    font-family: Titles;
    text-align: center;
}
ul{
    font-family: Deafult;
    color:rgb(238, 235, 211);
    margin-left: 50px;
}
p{
    font-family: Deafult;
    color:rgb(238, 235, 211);
    text-align: center;
}
a:link{
    color: rgb(238, 235, 211);
    text-decoration: none;
    display: inline-block;
    font-family: Links;
    text-align: left;
    margin-left: 10px;
}
a:visited{
    color: rgb(238, 235, 211);
    text-decoration: none;
    display: inline-block;
    font-family: Links;
    text-align: left;
    margin-left: 10px;
}
a:hover{
    text-decoration: underline;
    display: inline-block;
    font-family: Links;
    text-align: left;
    margin-left: 10px;
}
@media only screen and (max-width: 1150px) {
    .container {
        grid-template-columns: 1fr;
    }
}
