* {
    margin: 0px;
    padding: 0px;
}
.container {
    display: grid;
    grid-template-columns: 25% 75%;
}
.sidebar {
    background-color: darkcyan;
    padding: 10px 15px;
}
.content {
    background-color: darkmagenta;
    padding: 10px 15px;
}